* {
	padding: 0px;
	margin: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
	display: block;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrap {
	width: 960px;
	margin: 0px auto;
}

#top_line {
	height: 5px;
	background: #9EFF1E;
}

#toolbar {
	float: right;
	font: 10px Oswald, sans-serif;
}

#main_header h1 {
	padding-top: 10px;
	padding-left: 20px;

	font: 36px Oswald, sans-serif;
	display: none;
	color: #B8FF11;
	//color: #FF7700;
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
	float: left;
}

#main_header {
	height: 75px;
	
	background-image: linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -o-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background: -moz-linear-gradient(top, rgb(69,69,69) 0%, #000);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgb(69,69,69)), color-stop(0, rgb(0,0,0)));
}

#menu {
	color: #FFF;
	font: 16px Oswald, sans-serif;
	float: right;
	margin-right: 20px;
}

#menu a {
	color: #FFF;
	text-shadow: 0px 0px 2px rgba(0,0,0,1);
	line-height: 75px;
	height: 75px;
	display: inline-block;
	padding: 0px 15px;
	-webkit-transition: all 0.30s ease-in-out;
}

#menu a:hover {
	color: #B8FF11;
	text-decoration: none;
	//background: rgba(0,0,0,0.25);
}	

#menu li {
	display: inline-block;
}

#header_clock {
	font: 36px Oswald, sans-serif;
	display: inline-block;
	width: 270px;
	float: right;
	color: #B8FF11;
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
	margin-top: 10px;
}	

#content {
	float: left;
	width: 660px;
	//padding-bottom: 20px;
}

#content article p { 
	color: #202020;
	margin-bottom: 10px;
}

#content article {
	margin: 20px;
	font: 14px Helvetica, sans-serif;
	line-height: 21px;
	//border-bottom: 1px dashed #AAA;
}

#content .blogpost {
	margin-bottom: 40px;
}

#content article header {
	//text-align: center;
}

#content article figure {
	text-align: center;
	margin: 20px;	
}

#content article h1 {
	font: 28px Oswald, sans-serif;
	//background: #B8FF11;
	//padding: 10px;
}

#content article h2 {
	font: 20px Oswald, sans-serif;
}

#content article h3 {
	font: 16px Oswald, sans-serif;
}

#content article h1 a:hover {
	//text-decoration: none;
}

#content article header {
	margin-bottom: 15px;
}

#content article footer {
	padding-top: 0px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 11px;
	//border-top: 1px dashed #AAA;
	border-bottom: 1px dashed #AAA;
}

#buttons {
	margin-left: -10px;
	margin-bottom: 20px !important;
}

#buttons button {
	margin-left: 10px;
	width: 120px;
}

.post_options {
	float: right;
	margin-right: 5px;
	margin-top: 10px;
}

.post_options a {
	margin-right: 5px;
	color: #FFF;	
	font: 12px Calibri, sans-serif;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #000;
	padding: 4px 8px;
}

.post_options a:hover {
	color: #000;
	background: #B8FF11;
	text-decoration: none;
}

.comment {
	border-bottom: 1px dashed #AAA;
	margin-bottom: 20px !important;
}

.comment_image {
	display: inline-block;
	vertical-align: top;
	width: 50px;
}

.comment_content {
	//display: inline-block;
	//margin-left: 10px;
	width: 660px;
}

#commentform textarea {
	width: 610px;
	max-width: 610px;
	height: 75px;
}

#commentform p {
	margin-bottom: 1px !important;
}

#logg-inn article {
	width: 440px;
	margin: 20px;
	float: left;
	border-bottom: none;
}

.form_article {
	text-align: center;	
	border-bottom: 1px dashed #AAA;
}

.form_article header h1 {
	margin: 0px;
}

#statistikk {
	font: 36px Oswald, sans-serif;
	margin: 20px auto;
	width: 500px;
	padding: 40px 0px;
	border: 3px solid #B8FF11;
		
	background-image: linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -o-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background: -moz-linear-gradient(
		top,
		rgb(0,0,0) 0%,
		rgb(69,69,69));

	background-image: -webkit-gradient(
		linear,
		right top,
		left top,
		color-stop(1, rgb(0,0,0)),
		color-stop(0, rgb(69,69,69))
	);
}

#statistikk p {
	display: table;
	margin: 0px !important;
	padding: 0px !important;
}

#statistikk div {
	font: 36px Oswald, sans-serif;
	line-height: 40px;	
	display: table-cell;
	text-shadow: 0px 0px 5px rgba(0,0,0,1.0);
	padding-left: 5px;
}

.l {
	width: 150px;
	text-align: right;
	color: #B8FF11;
}

.r {
	text-align: left;
	color: #FFF;
}

#pagenav {
	margin: 30px 20px;
	font: 15px Open Sans, sans-serif;
}

#sidebar {
	float: left;
	width: 250px;
	font: 14px Open Sans, sans-serif;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
}

#sidebar section {
	margin-bottom: 25px;
}

#sidebar h1 {
	font: 20px Oswald, sans-serif;
	margin-bottom: 10px;
}

#footer {
	clear: both;
	border-top: 10px solid #B8FF11;
	//border-top: 10px solid #FF7700;
	font: 16px Oswald, sans-serif;
	text-align: center;
	
	background-image: linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -o-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background: -moz-linear-gradient(
		top,
		rgb(0,0,0) 0%,
		rgb(69,69,69));

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(0,0,0)),
		color-stop(0, rgb(69,69,69))
	);
	
	color: #B8FF11;	
	text-shadow: 0px 0px 5px rgba(0,0,0,1)
}

#footer p {
	clear: both;
	padding: 20px;
}

#footer section {
	float: left;
	display: block;
	width: 300px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	text-align: left;

}

#footer a {
	font: 14px Open Sans, sans-serif !important;
}

#footer h1 {
	font: 28px Oswald, sans-serif;
}

#footer section ul {
	list-style-type: none;
}

#footer section a {
	font: 16px Oswald, sans-serif;
	color: #FFF;
}

#footer section a:hover {
	color: #B8FF11;
	text-decoration: none;
}

.form1 {
	font: 14px Open Sans, sans-serif;
}

.form1 p {
	//display: table;
}

.form1 input {
	//display: table-cell;
}

.form1 label {
	display: table-cell;
	width: 220px;
	text-align: right;
	padding-right: 10px;
}

#loginform {
	font: 14px Oswald, sans-serif;
	text-align: center;
	//padding-bottom: 30px;
}

#newpostform label {
	width: 110px;
	vertical-align: top;
}

#newpostform input[type="text"] {	
	width: 392px;
}

#newpostform textarea {
	max-width: 390px;
	height: 150px;
}

#loginform p, .form1 p {
	margin: 5px !important;
}

#loginform a {
	font: 10px Oswald, sans-serif;
	margin-left: 10px;
}

#loginform input[type="text"], #loginform input[type="password"], .form1 input[type="text"], .form1 input[type="password"] {
	padding: 3px;
	font: 12px Open Sans, sans-serif;
	width: 150px;
}

/*button, #loginform input[type="submit"], .form1 input[type="submit"], #commentform input[type="submit"] {
	background: #000;
	font: 16px Oswald, sans-serif;
	color: #FFF;
	border: none;
	padding: 5px;
	width: 160px;

	color: #FFF;
	background: -moz-linear-gradient(
		top,
		#404040 0%,
		#202020 50%,
		#101010 50%,
		#000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#404040),
		color-stop(0.50, #202020),
		color-stop(0.50, #101010),
		to(#000));
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}*/

button, #loginform input[type="submit"], .form1 input[type="submit"], #commentform input[type="submit"] {
	background: #000;
	font: 16px Oswald, sans-serif;
	color: #FFF;
	border: 1px solid #000;
	padding: 5px;
	width: 160px;

	color: #FFF;
	background-image: linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -o-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background: -moz-linear-gradient(top, rgb(69,69,69) 0%, #000);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgb(69,69,69)), color-stop(0, rgb(0,0,0)));
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	//border: 1px solid #000;
	/*-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5);*/
	//text-shadow: 0px 1px 0px rgba(000,000,000,1);

		border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	//background: #222;
	border: none;
	border: 1px solid #004FCD;
	color: #FFF;
	//font: 12px Calibri, sans-serif;
	//text-shadow: 0px 1px 0px #000;
	padding: 5px;
	-webkit-transition: all 0.30s ease-in-out;
	cursor: pointer;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #156FFF), color-stop(0, #0052D6));
}

button:hover, #loginform input[type="submit"]:hover, .form1 input[type="submit"]:hover, #commentform input[type="submit"]:hover {
	//color: #B8FF11;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #3683FF), color-stop(0, #156FFF));
}

button:active, #loginform input[type="submit"]:active, .form1 input[type="submit"]:active, #commentform input[type="submit"]:active {
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(0,0,0,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(0,0,0,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);

		background-image: linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -o-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background: -moz-linear-gradient(
		top,
		rgb(0,0,0) 0%,
		rgb(69,69,69));

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(0,0,0)),
		color-stop(0, rgb(69,69,69))
	);
}

#bottom_menu {
	display: none;
	text-align: center;
	height: 64px;
}

#bottom_menu button {
	margin: 0px 10px;
}

#register, #password, #newpost { 
	display: none; 
}

#userinfo p {
	margin-bottom: 10px;
}

#usermenu {
	margin: 10px 0px;
}

#usermenu p {
	margin-bottom: 0px;
}

.sidemenu a {
	float: left;
	width: 240px;
	padding: 5px 10px;
	padding-right: 0px;
}

.sidemenu a:hover {
	background: #B8FF11;
	text-decoration: none;
}

#search input {
	width: 228px;
	padding: 10px;
	//border-radius: 5px;
	-moz-border-radius: 5px;
	//-webkit-border-radius: 5px;
	border: 1px solid #AAA;
	outline: none;
}

#search input:hover {
	border-color: #888;
}

#search input:focus {
	border-color: #888;
	-webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);
}

.loading {
	height: 64px;
	display: none;
	background-image: url('images/loading.gif');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 33%;
}

.comment_bubble {
	float: right;
	background-image: url('images/bubble2.png');
	width: 54;
	height: 57;
}

.comment_bubble a {
	display: inline-block;
	font: 16px Oswald, sans-serif;
	color: #FFF;
	text-align: center;
	line-height: 55px;
	padding-bottom: 2px;
	width: 54px;
}

.comment_bubble a:hover {
	color: #000;
	text-decoration:none;
	background-image: url('images/bubble2_hover.png');
}

textarea {
	padding: 5px !important;
	font: 12px Open Sans, sans-serif;
}

.tags {
	list-style: none;
	float: right;
}

.tags li, .tags a {
	float: left;
	height: 24px;
	line-height: 24px;
	position: relative;
	font-size: 12px;
}

.tags a {
	margin-left: 20px;
	padding-left: 6px;
	padding-right: 12px;
	margin-top: -2px;
	color: #FFF;
	background: #000;
	text-decoration: none;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-topright: 2px;
}

.tags a:before {
	content: "";
	float: left;
	position: absolute;
	top: 0px;
	left: -12px;
	width: 0px;
	height: 0px;
	border-color:transparent #000 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;	
}

.tags a:hover {
	color: #000000;
	background: #B8FF11;
}

.tags a:hover:before {
	border-color:transparent #B8FF11 transparent transparent;
}

//
// Tabs
//
.tabnav {
	list-style: none;
}

.tabnav li, .tabnav a {
	display: inline-block;
}

.tabnav a {
	padding: 5px 20px;
	padding-bottom: 0px;
	text-decoration: none;
}

.tabnav a.current {
	background: #B8FF11;
}

.tabnav a:hover:not(.current) {
	padding-bottom: -5px;
}

.tab {
	display: none;
}

.tab.current {
	display: block;
}

.headerwrap {
	width: 960px;
	margin: 0 auto;	
}

.date {
	font-size: 12px;
	color: #303030;
}

.error {
	color: #FF0000;
	text-align: left !important;
	font-size: 10px;
	padding-left: 10px;
	padding-right: 0px !important;
}

#dialog_container {
	margin: 0px auto;
	text-align: center;
	width: 400px;
}

#confirm_dialog, #login_dialog, #register_dialog {
	position: fixed;
	top: 33%;
	padding: 10px;
	background: #141414;
	display: none;
	z-index: 2;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-align: center;
	font: 28px Oswald, sans-serif;
	color: #FFF;
	width: 400px;
	border: 1px solid #303030;
}

#login_dialog input {
	//float: left;
}

#overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 1;
	display: none;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}	