@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
	padding: 0px;
	margin: 0px;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
	display: block;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#wrap {
	width: 960px;
	margin: 0px auto;
}

#top_line {
	height: 5px;
	background: #9EFF1E;
}

#toolbar {
	float: right;
	font: 10px Oswald, sans-serif;
}

#main_header h1 {
	padding-top: 10px;
	padding-left: 20px;
	font: 36px Oswald, sans-serif;
	display: none;
	color: #B8FF11;
	text-shadow: 0px 0px 5px rgba(0,0,0,64)
}

#main_header {
	margin-bottom: -35px;
	//background: #000000;
	//background: #B8FF11;
	//background: #85CEFF;height: 100px;
	
	border-bottom: 3px solid #B8FF11;
	
	background-image: linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -o-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);

background: -moz-linear-gradient(
		top,
		rgb(69,69,69) 0%,
		#000000);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(1, rgb(69,69,69)),
	color-stop(0, rgb(0,0,0))
);
}

#menu {
	padding: 5px 0px;
	color: #FFFFFF;
	font: 16px Oswald, sans-serif;
}

#menu a {
	color: #FFFFFF;
}

#menu a:hover {
	//color: #85CEFF;
	color: #B8FF11;
	text-decoration: none;
}	

#menu li {
	display: inline-block;
	margin-right: 20px;
	margin-left: 22px
}

#header_clock {
	font: 36px Oswald, sans-serif;
	display: inline-block;
	width: 270px;
	float: right;
	color: #B8FF11;
	text-shadow: 0px 0px 5px rgba(0,0,0,64);
	margin-top: 10px;
}	

#content {
	float: left;
	width: 660px;
	padding-bottom: 20px;
}

#content article p { 
	color: #202020;
	margin-bottom: 10px;
}

#content article {
	margin: 20px;
	font: 15px Open Sans, sans-serif;
	border-bottom: 1px dashed #AAAAAA;
}

#content article header {
	//text-align: center;
}

#content article figure {
	text-align: center;
	margin: 20px;	
}

#content article h1 {
	font: 28px Oswald, sans-serif;
	//margin-right: 84px;
}

#content article h2 {
	font: 20px Oswald, sans-serif;
}

#content article h1 a:hover {
	//color: #85CEFF;
	color: #B8FF11;
	text-decoration: none;	
}

#content article header {
	margin-bottom: 15px;
}

#content article footer {
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 11px;
	border-top: 1px dashed #AAAAAA;
}

.comment {
	clear: both;
}

.comment_image {
	float: left;
	width: 60px;
	background: #B8FF11;
}

.comment_content {
	float: left;
}

.form_article {
	text-align: center;	
}

.form_article header h1 {
	margin: 0px;
}

#pagenav {
	margin: 30px 20px;
	font: 15px Open Sans, sans-serif;
}

#sidebar {
	float: left;
	width: 250px;
	font: 14px Open Sans, sans-serif;
	margin-left: 30px;
	margin-top: 20px;
	margin-right: 20px;
}

#sidebar section {
	margin-bottom: 25px;
}

#sidebar h1 {
	font: 20px Oswald, sans-serif;
	margin-bottom: 10px;
}

#footer {
	clear: both;
	//border-top: 10px solid #85CEFF;
	border-top: 3px solid #B8FF11;
	font: 16px Oswald, sans-serif;
	text-align: center;
	//padding: 10px;
	//background: #000000;
	
	background-image: linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -o-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(69,69,69) 100%, rgb(0,0,0) 0%);
	background: -moz-linear-gradient(
		top,
		rgb(0,0,0) 0%,
		rgb(69,69,69));

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(1, rgb(0,0,0)),
	color-stop(0, rgb(69,69,69))
);

	//height: 200px;
	
	//color: #85CEFF;
	color: #B8FF11;
	
	text-shadow: 0px 0px 5px rgba(0,0,0,64)
}

#footer p {
	clear: both;
	padding: 20px;
}

#footer section {
	float: left;
	display: block;
	width: 300px;
	margin-top: 10px;
	margin-left: 20px;
	text-align: left;
}

#footer h1 {
	font: 28px Oswald, sans-serif;
}

#footer section ul {
	list-style-type: none;
}

#footer section a {
	font: 16px Oswald, sans-serif;
	color: #CCCCCC;
}

#footer section a:hover {
	color: #B8FF11;
	text-decoration: none;
}

.form1 {
	font: 14px Open Sans, sans-serif;
	margin-bottom: 10px;
}

.form1 p {
	display: table;
}

.form1 input {
	display: table-cell;
}

.form1 label {
	display: table-cell;
	width: 220px;
	text-align: right;
	padding-right: 10px;
}

#loginform {
	font: 14px Oswald, sans-serif;
	padding-bottom: 30px;
}

#newpostform label {
	width: 110px;
	vertical-align: top;
}

#newpostform input[type="text"] {	
	width: 400px;
}

#newpostform textarea {
	max-width: 400px;
	height: 150px;
}

#loginform p, .form1 p {
	margin-bottom: 5px !important;
}

#loginform a {
	font: 10px Oswald, sans-serif;
	margin-left: 10px;
}

#loginform input[type="text"], #loginform input[type="password"], .form1 input[type="text"], .form1 input[type="password"] {
	padding: 3px;
	font: 12px Open Sans, sans-serif;
	height:25px;
	width: 160px;
}

button, #loginform input[type="submit"], .form1 input[type="submit"] {
	background: #000000;
	font: 16px Oswald, sans-serif;
	color: #FFFFFF;
	border: none;
	padding: 5px;
	margin-right: 90px;
	float: right;
	width: 160px;

	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#404040 0%,
		#202020 50%,
		#101010 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#404040),
		color-stop(0.50, #202020),
		color-stop(0.50, #101010),
		to(#000000));
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

#bottom_menu {
	text-align: center;
}

#bottom_menu button {
	float: none;
	margin: 0px 10px;
	
	horizontal-align: center;
}

button:hover, #loginform input[type="submit"]:hover, .form1 input[type="submit"]:hover {
	//color: #85CEFF;
	color: #B8FF11;
}

button:active, #loginform input[type="submit"]:active, .form1 input[type="submit"]:active {
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(0,0,0,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(0,0,0,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

#register, #password, #newpost { display: none; }

#usermenu {
	margin: 10px 0px;
}

#usermenu a, #tags a, #archive a {
	display: inline-block;
	width: 150px;
	padding: 5px 10px;
	padding-right: 0px;
}

#usermenu a:hover, #tags a:hover, #archive a:hover {
	//background: #85CEFF;
	background: #B8FF11;
	text-decoration: none;
} 

.comment_bubble {
	float: right;
	background-image: url('images/bubble.png');
	width: 64;
	height: 64;
}

.comment_bubble a {
	display: inline-block;
	font: 16px Oswald, sans-serif;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 0px;
	width: 60px;
}

.comment_bubble a:hover {
	color: #B8FF11;
	text-decoration:none;
}

.headerwrap {
	width: 960px;
	margin: 0 auto;	
}

.date {
	font-size: 12px;
	color: #303030;
}

.error {
	color: #FF0000;
	text-align: left !important;
	font-size: 10px;
	padding-left: 10px;
	padding-right: 0px !important;
}

.floatleft { float: left; }
.floatright { float: right; }
	